{% extends "base.html" %}
{% load static %}
{% block bootstrap5_content %}

    <h1>Список книг в БД</h1>
    {% if author_list %}
        {% for author in author_list.all %}
        <p>{{ author.first_name }} {{ author.last_name }},
            <strong>Родился-</strong>{{ author.date_of_birth }},
            <strong>Умер-</strong>{{ author.date_of_death|default:'' }}</p>
        {% endfor %}
    {% else %}
        <p>В базе данных нет авторов</p>
    {% endif %}

{% endblock bootstrap5_content %}