{% extends "base.html" %}

{% block bootstrap5_content %}

    <h3>Список авторов в БД</h3>
    <table>
        <thead><th>id</th><th>----Имя----</th><th>Фамилия</th><th></th></thead>
        {% if author %}
            {% for author in author.all %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.first_name }}</td>
                    <td>{{ author.last_name }}</td>
                    <td><a href="/author_edit/{{ author.id }}">Изменить</a>
                        <a href="/author_delete/{{ author.id }}">Удалить</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <p>В базе данных авторы отсутствуют</p>
        {% endif %}
    </table>

    <h3>Добавить автора книги</h3>
    <form method="POST" action="/author_create/">
        {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Сохранить">
    </form>

{% endblock bootstrap5_content %}


