{% block bootstrap5_content %}

    <h3>Список книг</h3>
    <h4>{{book.title}}</h4>

    <form method="POST">
        {% csrf_token %}
        <p> <label>Изменить название</label><br>
            <input type="text" name="title"
                value="{{ book.title }}"></p>
        <p> <label>Изменить жанр</label><br>
            <input type="text" name="genre"
                value="{{ book.genre }}"></p>
        <p> <label>Изменить язык</label><br>
            <input type="text" name="language"
                value="{{ book.language }}"></p>
        <p> <label>Изменить автора</label><br>
            <input type="text" name="author"
                value="{{ book.author }}"></p>
        <p> <label>Изменить аннотацию</label><br>
            <input type="text" name="summary"
                value="{{ book.summary }}"></p>
        <p> <label>Изменить isn</label><br>
            <input type="text" name="isn"
                value="{{ book.isn }}"></p>
        <p> <label>Изменить файл</label><br>
            <input type="file" name="file"
                value="{{ book.file }}"></p>

        <input type="submit" value="Сохранить">
    </form>

{% endblock bootstrap5_content %}

