{% extends "base.html" %}
{% load static %}
{% block bootstrap5_content %}

<link rel="stylesheet" href="{% static 'styles/book_list.css' %}">

    <h1>Список книг</h1>
    <ul>
        <li>
        {% if book_list %}
            {% for book in book_list %}
            <div class="book-list">
                <div class="poster">
                    {% if book.image %}
                        <img  src="{{ book.image.url }}">
                    {% else %}
                        Нет картинки
                    {% endif %}
                    <a class="book-title" href="{{ book.get_absolute_url }}">
                        {{ book.title }}</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>В базе данных нет книг</p>
        {% endif %}
        </li>
    </ul>

{% endblock bootstrap5_content %}