{% extends "base.html" %}

{% block bootstrap5_content %}

    <h1>Название книги: {{ book.title }} </h1>
    <p><strong>Жанр: {{ book.genre }} </strong></p>
    <p><strong>Аннотация: {{ book.summary }} </strong></p>
    <p><strong>ISBN: {{ book.isbn }} </strong></p>
    <p><strong>Язык: {{ book.language }} </strong></p>
    {% for author in book.author.all %}
        <p><strong>Автор:</strong>
            <a href="">{{ author.first_name }}
                {{ author.last_name }}</a></p>
    {% endfor %}
    {% if user.is_authenticated %}
        <div>
            <a href="{{book.file.url}}" download="{{book.file.url}}">Скачать</a>
        </div>
    {% endif %}

{% endblock bootstrap5_content %}
