{% load static %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
        <img src="{% static 'styles/logo.png' %}">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'main_page' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'books' %}">Книги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'authors' %}" tabindex="-1" aria-disabled="true">Авторы</a>
        </li>
        {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'author_add' %}" tabindex="-1" aria-disabled="true">Редактировать авторов</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'book_create' %}" tabindex="-1" aria-disabled="true">Добавить книгу</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'book_update_delete' %}" tabindex="-1" aria-disabled="true">Редактировать книгу</a>
          </li>
        {% endif %}
      </ul>
      <form class="navbar-nav me-auto mb-2 mb-lg-0" action="{% url 'book_list' %}" method="get" class="d-flex">
        <input class="form-control me-2" name="q" type="text"  aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Поиск</button>
      </form>
      <ul class="nav navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item"><i class="bi bi-bookmark-plus-fill text-primary"></i>{{ user.get_username }} </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" tabindex="-1"><i class=”fa fa-book”></i>Выход</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={{ request.path }}" tabindex="-1"><span class="fas fa-user">⎆</span></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>