{% extends "bootstrap5/bootstrap5.html" %}

{% block bootstrap5_title %}
    {{"Books home"}}
{% endblock bootstrap5_title %}

{% block bootstrap5_extra_head %}
  {% include "includes/navbar.html" %}
{% endblock bootstrap5_extra_head %}

{% block bootstrap5_before_content %}
{% endblock bootstrap5_before_content %}

{% block bootstrap5_content %}
{% endblock bootstrap5_content %}

{% block bootstrap5_after_content %}

    {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                {% endif %}
                <span class="page-current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock pagination %}

    <p>Copyright Books home, 2023</p>

{% endblock bootstrap5_after_content %}

{% block bootstrap5_extra_script %}
{% endblock bootstrap5_extra_script %}