
input, select, textarea {
        width:500px;
        margin-top: 10px;
        border-color: grey;
        border-radius: 5px 5px;
        border-width: 0.5px;
}

label {
    font-family: Helvetica, sans-serif;
}

input[type='file'], input[type='submit'] {
    background-color:  #03c03c;
    color: white;
}

.container-main{
    margin-top: 20px;
    margin-bottom: 220px;

}

#button-save{
    margin-left: 140px;
}
