
input {
        width:300px;
        margin-top: 10px;
        border-color: grey;
        border-radius: 5px 5px;
        border-width: 0.5px;
}

label {
    font-family: Helvetica, sans-serif;
}


input[type='submit'] {
    background-color:  #03c03c;
    color: white;
}

.container-main{
    margin-left: 20px;

}

#button-save{
    margin-left: 190px;
}
