h1 {
    font-size: 80px;
    font-family: Helvetica, sans-serif;
}

.li-text {
    padding-bottom: 100px;
    list-style-type: none;
}

.container-main{
    margin-bottom: 80px;
    margin-left: 250px;
    margin-top: 20px;
}

.logo {
    float: left;
    object-fit: cover;
    width: 410px;
    height: 400px;
}

.picture{
    float: left;
    object-fit: cover;
    width: 120px;
    height: 120px;
}


